body{
    background: #411a2d;
    font-family: tahoma;
    color: #989898;
}

#todo-table{
    position: relative;
    width: 95%;
    background: #5c253f;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 60px 60px 0 0;
}

#todo-table form:after{
    margin: 0;
    content: '';
    display: block;
    clear: both;
}

input[type="text"]{
    width: 70%;
    padding: 20px;
    background:#181c22;
    border: 0;
    float: left;
    font-size: 20px;
    border-radius: 5rem;
    color: #989898;
}

button{
    padding: 20px;
    width: 30%;
    float: left;
    background: #23282e;
    border: 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    font-size: 20px;
    opacity: 80%;
    border-radius: 5rem;
}
button:hover{
    opacity: 100%;
    color: #5c253f;
}

ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

li{
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    font-family: arial;
    font-size: 20px;
    cursor: pointer;
    letter-spacing: 1px;
    background-color: #723d56;
    border-radius: 10rem;
}

li:hover{
    text-decoration: line-through;
    background: rgba(0,0,0,0.2);
}

h1{
   color: #fff;
   font-size: 5rem;
   padding-left: 5rem;
   text-decoration:underline;
}
